.preference {
    background-color:#6767F3;
}

.questions {
    list-style: none;
    font-family: Poppins;
}
#languages {
   display:block;
   font-family: Poppins;
   background-color:#6767F3;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}