@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700|Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700');
$title-font: 'Gothic', Helvetica, Arial, sans-serif;
$body-font: 'Poppins', Helvetica, Arial, sans-serif;



@import "preference";
@import "profile";
@import "login";

@mixin title-font {
    font-family: $title-font;
    // font-size: 86px;
    font-size: 40px;
    text-align: center;
    color: #0B131D;
}
@mixin body-font {
    font-weight: 500;
    font-family: $body-font;
    font-size: 10px;
    color: #041434;
}
h1 {
    @include title-font();
}
h2 {
    @include title-font();
}
p {
    @include body-font();
}
#member_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#teams_all {
    .team {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-between;
        z-index: 3;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 3;
        }
        h2 {
            display: inline-flex;
            color: rgb(10, 117, 247);
        }
    }
    .team1 {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-between;
        z-index: 3;
        background-color: rgb(10, 117, 247);

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 3;
        }
        h2 {
            display: inline-flex;
            color: white;
        }
    }
}
#members_all {
    background-color:white;
    background-size: cover;
    width: 100%;
    height: 100vh;
    .member {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-between;
        z-index: 3;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 3;
        }
    }
}
    
#one_team {
    .team {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-between;
        z-index: 3;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 3;
        }
    }
}

footer {
    p {
        text-align: center
    }
}

