<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Summary of Teams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>All Teams in Hackathon on 28 April 2019</h1>
    <section id="teams_all">
            <div class="team">
                <h2>Team 1</h2>
                <div>
                    <p>[member name]</p>
                    <a href="[member 1 profile]"><img src="[find image for person icon]" alt="[member1]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 2 profile]"><img src="[find image for person icon]" alt="[member2]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 3 profile]"><img src="[find image for person icon]" alt="[member3]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 4 profile]"><img src="[find image for person icon]" alt="[member4]" /></a>
                </div>
            </div>
            <div class="team1">
                <h2>Team 2</h2>
                <div>
                    <p>[member name]</p>
                    <a href="[member 5 profile]"><img src="[find image for person icon]" alt="[member5]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 6 profile]"><img src="[find image for person icon]" alt="[member6]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 7 profile]"><img src="[find image for person icon]" alt="[member7]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 8 profile]"><img src="[find image for person icon]" alt="[member8]" /></a>
                </div>
            </div>
            <div class="team">
                <h2>Team 3</h2>
                <div>
                    <p>[member name]</p>
                    <a href="[member 9 profile]"><img src="[find image for person icon]" alt="[member9]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 10 profile]"><img src="[find image for person icon]" alt="[member10]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 11 profile]"><img src="[find image for person icon]" alt="[member11]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 12 profile]"><img src="[find image for person icon]" alt="[member12]" /></a>
                </div>
            </div>
            <div class="team1">
                <h2>Team 4</h2>
                <div>
                    <p>[member name]</p>
                    <a href="[member 13 profile]"><img src="[find image for person icon]" alt="[member13]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 14 profile]"><img src="[find image for person icon]" alt="[member14]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 15 profile]"><img src="[find image for person icon]" alt="[member15]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 16 profile]"><img src="[find image for person icon]" alt="[member16]" /></a>
                </div>    
            </div>
            <div class="team">
                <h2>Team 5</h2>
                <div>
                    <p>[member name]</p>
                    <a href="[member 17 profile]"><img src="[find image for person icon]" alt="[member17]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 18 profile]"><img src="[find image for person icon]" alt="[member18]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 19 profile]"><img src="[find image for person icon]" alt="[member19]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 20 profile]"><img src="[find image for person icon]" alt="[member20]" /></a>
                </div>         
            </div>
            <div class="team1">
                <h2>Team 6</h2>
                <div>
                    <p>[member name]</p>
                    <a href="[member 21 profile]"><img src="[find image for person icon]" alt="[member21]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 22 profile]"><img src="[find image for person icon]" alt="[member22]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 23 profile]"><img src="[find image for person icon]" alt="[member23]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 24 profile]"><img src="[find image for person icon]" alt="[member24]" /></a>
                </div>   
            </div>
            <div class="team">
                <h2>Team 7</h2>
                <div>
                    <p>[member name]</p>
                    <a href="[member 25 profile]"><img src="[find image for person icon]" alt="[member25]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 26 profile]"><img src="[find image for person icon]" alt="[member26]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 27 profile]"><img src="[find image for person icon]" alt="[member27]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 28 profile]"><img src="[find image for person icon]" alt="[member28]" /></a>
                </div>     
            </div>
            <div class="team1">
                <h2>Team 8</h2>
                <div>
                    <p>[member name]</p>
                    <a href="[member 29 profile]"><img src="[find image for person icon]" alt="[member29]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 30 profile]"><img src="[find image for person icon]" alt="[member30]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 31 profile]"><img src="[find image for person icon]" alt="[member31]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 32 profile]"><img src="[find image for person icon]" alt="[member32]" /></a>
                </div>    
            </div>
            <div class="team">
                <h2>Team 9</h2>
                <div>
                    <p>[member name]</p>
                    <a href="[member 33 profile]"><img src="[find image for person icon]" alt="[member33]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 34 profile]"><img src="[find image for person icon]" alt="[member34]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 35 profile]"><img src="[find image for person icon]" alt="[member35]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 36 profile]"><img src="[find image for person icon]" alt="[member36]" /></a>
                </div>
            </div>
            <div class="team1">
                <h2>Team 10</h2>
                <div>
                    <p>[member name]</p>
                    <a href="[member 37 profile]"><img src="[find image for person icon]" alt="[member37]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 38 profile]"><img src="[find image for person icon]" alt="[member38]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 39 profile]"><img src="[find image for person icon]" alt="[member39]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 40 profile]"><img src="[find image for person icon]" alt="[member40]" /></a>
                </div>                                   
            </div>
        </section>
    <footer>
        <p>&copy; Copyright Team Builder 2019, All Rights Reserved.</p>
    </footer>
</body>
</html>