<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Summary of Teams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>All Teams in Hackathon on 28 April 2019</h1>
    <section id="one_team">
            <div class="team">
                <h2>Team 1</h2>
                <div>
                    <p>[member name]</p>
                    <a href="[member 1 profile]"><img src="[find image for person icon]" alt="[member1]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 2 profile]"><img src="[find image for person icon]" alt="[member2]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 3 profile]"><img src="[find image for person icon]" alt="[member3]" /></a>
                </div>
                <div>
                    <p>[member name]</p>
                    <a href="[member 4 profile]"><img src="[find image for person icon]" alt="[member4]" /></a>
                </div>
            </div>   
        </section>
    <footer>
        <p>&copy; Copyright Team Builder 2019, All Rights Reserved.</p>
    </footer>
</body>
</html>