<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Summary of Members</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
<h1>Preference Questionnaire</h1>
<form>
<div>
    <h3>Which positions do you most prefer working in ?</h3>
        <input type="radio" name="dev_role" value="back-end"> back-end 
        <input type="radio" name="dev_role" value="front-end"> front-end 
        <input type="radio" name="dev_role" value="full-stack"> full-stack  
</div>

<div>
    <h3>Languages you know</h3>
    {% for item in languages %}
    <input type="checkbox" name="languages" value="{{ item }}"> {{ item }}
    {% endfor %}
</div>

<div>
    <h3>Your Experience level</h3>
    <input type="radio" name="experience" value="under_1_year"> within a year
    <input type="radio" name="experience" value="under_3_year">  under 3 years
    <input type="radio" name="experience" value="3_5_year"> 3-5 years
    <input type="radio" name="experience" value="5+_year"> 5+ years
</div>

<div>
    <h3>What is your objective in Hackthon?</h3>
    <input type="radio" name="objective" value="win_prize"> win prize <br>
    <input type="radio" name="objective" value="learning"> learning new things<br>
    <input type="radio" name="objective" value="networking"> networking <br>
</div>

<div>
    <h3>How passionate you are for your idea?</h3>
    0: you are happy to help work on others' ideas
    <input type="range" min="1" max="10">
    10: you really want to work on your idea
</div>

</form>
</body>
</html>
       
