<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Summary of Members</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
</head>
<body class="preference">
    <h1>Preference Questionnaire</h1>
    <form method="POST">
        <div >{{ form.position.label(class_="questions")}} {{ form.position(class_="questions") }}</div>
        <div >{{ form.languages.label(class_="questions")}}
            {{ form.languages(id_="languages") }}</div>
        <div>{{ form.experience.label(class_="questions") }} {{form.experience(class_="questions")}}</div>
        <div>{{ form.objective.label(class_="questions") }} {{form.objective(class_="questions")}}</div>
        <!--{% raw %} <div>{{ form.ideas.label }} {{ form.ideas() }}</div>  {% endraw %}-->
        <div>{{ form.submit(class_="questions") }} {{ form.cancel(class_="questions") }}</div>
    </form>
</body>
</html>
       
