<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Summary of Members</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
<----->
</head>
<body>
<h1>{{ username }}'s Summary</h1>
<div>
    Position: {{ profile.position }}
</div>

<div>
    Languages:
    <li>
        {% for i in profile.languages %}
            <ul>{{ i }}</ul>
        {% endfor %}
    </li>
</div>

<div>
    Experience: {{ profile.experience }}
</div>

<div>
    Objective: {{ profile.objective }}
</div>

{% if profile.groupMember is not None %}
    <h2>You are matched!</h2>
    <a>Check out your team</a>
{% else %}
    <h2>Check again later to see if you have been matched</h2>
{% endif %}

</body>
</html>