<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Summary of Members</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">

</head>
<body class="profile">
<h1>{{ username }}'s Summary</h1>
<div>
    Position: {{ profile.position }}
</div>

<div>
    Languages:
    <li>
        {% for i in profile.languages %}
            <ul>{{ i }}</ul>
        {% endfor %}
    </li>
</div>

<div>
    Experience: {{ profile.experience }}
</div>

<div>
    Objective: {{ profile.objective }}
</div>

</body>
</html>
